/*	*******************************************
	BASE
	******************************************* */
	.container{
		margin: 0 auto;
		width: 95%;
		max-width: 1200px;
	}
	
	body { 
		margin: 0; 
		font-family: 'Scheherazade', serif;
		color: black;
	}

	.banner{
		position: fixed;
		top:0;
		left:0;
		right:0;
		width: 100%;
		display: block;
	}

	header, footer, .nav { 
		background-color: rgb(120,213,215);
	}

	footer {
		padding: 10px 0;
		width: 100%;
	}

	a{
		color:rgb(120,213,215);
		text-decoration: none;
	}

	a:hover{
		color:rgb(101, 101, 101);
		text-decoration: none;
	}


	/*	Header
		************************************** */
		.primary {
			margin-left: 0;
		}

		.strong {
			margin-right: 0;
		}

		.primary img {
			padding: 10px;
		}

		.primary a {
			border-bottom: none;
		}

		.big-message, .primary, .strong {
			flex: 1 0 33%;
		}

		.strong {
			flex-shrink: 1;
		}

		.primary, .strong { 
			align-self: center;
			color: white;
			text-shadow: 0 0 10px black;
		}

		.strong{
			text-align: right;
		}

		.big-message {
			font-family: 'Lateef', cursive;
			text-align: center;
			color: white;
			text-shadow: 0 0 30px black;
		}

		.big-message h1 {
			font-size: 72pt;
			font-weight: normal;
			margin: 0;
		}

		.big-message a {
			text-decoration: none;
			color: white;
		}
	

	/*	Form
		************************************** */
		.stand-alone + input { 
			padding: 5px;
			font-size: 9pt;
		}

		input[type="submit"] { 
			padding: 5px;
			font-size: 9pt;
		}




	
/*	*******************************************
	INDEX: Z-Pattern
	******************************************* */
	article{
		columns: 400px;
		column-gap: 50px;
		column-rule: 1px dotted #666666;
		text-align: center;
	}

	article a:hover {
		background-color:rgb(234, 230, 229);
		color: rgb(101, 101, 101);
	}
	
	.slider{
		width: 100%;
		margin-bottom: 20px;
		padding-bottom: 20px;

		padding-top: 20px;
		margin:auto;
		max-width: 600px;
		display: grid;

		position: relative;
		margin-top: 200px;
		z-index: -1;
	}

	.readmore{
		background-color:rgb(255, 113, 91);
		color: rgb(101, 101, 101);
		font-size: 20px;
		text-align:center;
		padding: 2px 10px 2px 10px;
	}



	
	
/*	*******************************************
	HISTORY & CULTURE: F-Pattern
	******************************************* */
	.lead { 
		margin-top: 210px;
		font-weight: bold; 
		border-bottom: 1px solid #333333;
		padding-bottom: 25px;
	}


	header .container, footer .container, .l-fpattern, .nav { 
		display: flex;
		justify-content: space-between;
	}

	.l-fpattern > *:first-child {
		margin-right: 25px;
	}

	.l-fpattern h2 {
		flex: 0 0 175px;
	}
	
	.right { 
		float: right;
		margin-left: 20px;
	}
		
	.photo-frame {
		padding: 5px;
		border: 1px solid #999999;
	}

	.photo-frame figcaption {
		font-size: 9pt;
		font-style: italic;
		color: #666666;
	}





/*	*******************************************
	WELCOME
	******************************************* */
	.welcome{
		width: 100%;
		text-align: center;
		margin-top: 400px;
	}	
	
	



/*	*******************************************
	SMALLER SCREEN
	******************************************* */
	@media (max-width: 700px){
		header .container, footer .container, .l-fpattern, .container, .nav{
			display: block;
		}
	}